/* override  ántd styling */
input {
  border-radius: none;
  border: 1px solid gray;
  height: 40px;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}

input:hover {
  outline: none;
  border: 1px solid gray !important;
}

label {
  font-size: 16px;
}

/* common styles */
.card {
  box-shadow: 0 0 2px gray;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-title {
  font-size: 1rem;
}

.register {
  width: 420px;
}

.register-btn {
  background-color: darkslategrey;
  height: 40px;
  width: 100%;
  color: '#ffc';
  font-size: 17px;
}
/* auth pages*/
.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}